Repository amosjyng/zamm-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: typecheck-svelte, cargo-fmt, cargo-clippy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-merge-conflict
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.1.2
    hooks:
      - id: ruff
        args:
          - --fix
          - --exit-non-zero-on-fix
          - --config
          - src-python/pyproject.toml
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 23.10.1
    hooks:
      - id: black
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.6.1
    hooks:
      - id: mypy
        args: [--disallow-untyped-defs, --ignore-missing-imports]
        additional_dependencies:
          - types-PyYAML
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.52.0
    hooks:
      - id: eslint
        types: [file]
        args: [--fix, --max-warnings=0]
        files: \.(js|ts|svelte)$
        exclude: src-svelte/src/lib/sample-call.ts
        additional_dependencies:
          - eslint
          - svelte
          - typescript
          - eslint-plugin-svelte
          - eslint-config-prettier
          - "@typescript-eslint/eslint-plugin"
          - "@typescript-eslint/parser"
          - svelte-eslint-parser
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier
        args: [--write, --plugin, prettier-plugin-svelte]
        files: \.(json|yaml|html|js|ts|svelte)$
        additional_dependencies:
          - prettier
          - prettier-plugin-svelte
          - svelte
  - repo: local
    hooks:
      - id: typecheck-svelte
        name: svelte-check
        entry: yarn workspace gui svelte-check --fail-on-warnings
        language: system
        types: [file]
        files: \.(ts|svelte)$
        exclude: ^webdriver/
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --manifest-path src-tauri/Cargo.toml --
        language: system
        types: [rust]
      - id: cargo-clippy
        name: cargo clippy
        entry: src-tauri/clippy.sh
        language: system
        types: [rust]
        pass_filenames: false

Try creating Mac publishing workflow
  .github/workflows/publish.yaml
Due: none

Customize mac bundle
  src-tauri/tauri.conf.json
Due: none

Fix info box reveal animation for new chat page
  src-svelte/src/lib/InfoBox.svelte
  src-svelte/src/routes/chat/Chat.stories.ts
  src-svelte/src/routes/chat/Chat.svelte
  src-svelte/src/routes/chat/Form.svelte
  src-svelte/src/routes/chat/MessageUI.svelte
Due: typecheck-svelte

Fix Mac publish script, and add Linux build to release
  .github/workflows/publish.yaml
Due: none

Fix Linux build
  .github/workflows/publish.yaml
Due: none

Align chat message text to the left
  src-svelte/src/routes/chat/MessageUI.svelte
Due: typecheck-svelte

Close gap between chat arrows and bubbles
  src-svelte/src/routes/chat/MessageUI.svelte
Due: typecheck-svelte

Use GPT-4 by default
  src-svelte/src/routes/chat/Chat.svelte
  src-tauri/api/sample-call-requests/continue-conversation.json
  src-tauri/api/sample-call-requests/start-conversation.json
  src-tauri/api/sample-calls/chat-continue-conversation.yaml
  src-tauri/api/sample-calls/chat-start-conversation.yaml
Due: typecheck-svelte

Fix Svelte tests
  src-svelte/screenshots/baseline/screens/chat/conversation/bottom-scroll-indicator.png
  src-svelte/screenshots/baseline/screens/chat/conversation/multiline-chat.png
  src-svelte/screenshots/baseline/screens/chat/conversation/not-empty.png
  src-svelte/screenshots/baseline/screens/chat/conversation/typing-indicator-static.png
  src-svelte/screenshots/baseline/screens/chat/message/ai.png
  src-svelte/screenshots/baseline/screens/chat/message/human.png
  src-svelte/src/routes/chat/Chat.test.ts
  src-svelte/src/routes/chat/MessageUI.svelte
Due: typecheck-svelte

Try mocking Range prototype function directly
  src-svelte/src/routes/chat/Chat.test.ts
Due: typecheck-svelte

Catch resize error for CI
  src-svelte/src/routes/chat/MessageUI.svelte
Due: typecheck-svelte

Try installing specific version of Tauri driver for testing
  .github/workflows/tests.yaml
Due: none

Get a build working on Windows
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
Due: none

Return Windows OS when asked for system info
  src-svelte/src/lib/bindings.ts
  src-tauri/src/commands/system.rs
Due: typecheck-svelte, cargo-fmt, cargo-clippy

Fix scrollbars on Windows
  src-svelte/src/routes/AppLayout.svelte
Due: typecheck-svelte

Guard against multiple chat messages being sent at once
  src-svelte/src/routes/chat/Chat.svelte
  src-svelte/src/routes/chat/Chat.test.ts
Due: typecheck-svelte

Add pause capability to API playback
  src-svelte/src/lib/sample-call-testing.ts
  src-svelte/src/routes/AppLayout.test.ts
  src-svelte/src/routes/components/Metadata.test.ts
Due: typecheck-svelte

Fix CSS selector on the wrong class
  src-svelte/src/routes/chat/MessageUI.svelte
Due: typecheck-svelte

Use off-white color for background
  src-svelte/screenshots/baseline/layout/app/static.png
  src-svelte/screenshots/baseline/layout/sidebar/dashboard-selected.png
  src-svelte/screenshots/baseline/layout/sidebar/settings-selected.png
  src-svelte/src/routes/AppLayout.svelte
  src-svelte/src/routes/SidebarUI.svelte
  src-svelte/src/routes/styles.css
  webdriver/screenshots/baseline/desktop_wry/chat-screen-800x600.png
  webdriver/screenshots/baseline/desktop_wry/settings-screen-800x600.png
  webdriver/screenshots/baseline/desktop_wry/welcome-screen-800x600.png
Due: typecheck-svelte

Trigger frontend rebuild when CSS files change
  src-svelte/Makefile
Due: none

Rename unceasing_animations to background_animation
  .github/workflows/tests.yaml
  src-svelte/src/lib/__mocks__/stores.ts
  src-svelte/src/lib/bindings.ts
  src-svelte/src/lib/preferences.ts
  src-svelte/src/routes/AppLayout.stories.ts
  src-svelte/src/routes/AppLayout.svelte
  src-svelte/src/routes/Background.svelte
  src-svelte/src/routes/settings/Settings.svelte
  src-tauri/api/sample-calls/get_preferences-animation-speed-override.yaml
  src-tauri/api/sample-calls/get_preferences-animations-override.yaml
  src-tauri/api/sample-calls/get_preferences-extra-settings.yaml
  src-tauri/api/sample-calls/get_preferences-no-file.yaml
  src-tauri/api/sample-calls/get_preferences-sound-override.yaml
  src-tauri/api/sample-calls/get_preferences-volume-override.yaml
  src-tauri/api/sample-calls/set_preferences-sound-off.yaml
  src-tauri/api/sample-calls/set_preferences-sound-on.yaml
  src-tauri/api/sample-calls/set_preferences-volume-partial.yaml
  src-tauri/src/commands/preferences/models.rs
Due: typecheck-svelte, cargo-fmt, cargo-clippy

Lock Tauri CLI version
  .github/workflows/tests.yaml
Due: none

Add new Storybook screenshot variants and update e2e gold screenshots
  src-svelte/screenshots/baseline/screens/dashboard/api-keys-display/editing-pre-filled-variant-1.png
  src-svelte/screenshots/baseline/screens/dashboard/api-keys-display/editing-variant-1.png
  src-svelte/screenshots/baseline/screens/dashboard/api-keys-display/known-variant-1.png
  src-svelte/screenshots/baseline/screens/dashboard/api-keys-display/loading-variant-1.png
  src-svelte/screenshots/baseline/screens/dashboard/api-keys-display/unknown-variant-1.png
  src-svelte/screenshots/baseline/screens/settings/large-phone-screen-variant-1.png
  webdriver/screenshots/baseline/desktop_wry/chat-screen-800x600.png
  webdriver/screenshots/baseline/desktop_wry/welcome-screen-800x600.png
Due: none

Add type to LLM request for future compatibility
  src-svelte/src/lib/bindings.ts
  src-tauri/api/sample-calls/chat-continue-conversation.yaml
  src-tauri/api/sample-calls/chat-start-conversation.yaml
  src-tauri/src/commands/llms/chat.rs
  src-tauri/src/commands/system.rs
  src-tauri/src/models/llm_calls.rs
Due: typecheck-svelte, cargo-fmt, cargo-clippy

Format Mac output string
  src-svelte/src/routes/components/Metadata.svelte
Due: typecheck-svelte

Add a mock credits page
  src-svelte/src/routes/credits/+page.svelte
  src-svelte/src/routes/credits/Credits.stories.ts
  src-svelte/src/routes/credits/Credits.svelte
Due: typecheck-svelte

Extract GitHub username
  src-svelte/src/routes/credits/Creditor.svelte
  src-svelte/src/routes/credits/Creditor.test.ts
Due: typecheck-svelte

Add Svelte to credits, and fix layout
  src-svelte/src/routes/credits/Creditor.svelte
  src-svelte/src/routes/credits/Credits.svelte
  src-svelte/src/routes/credits/Grid.svelte
  src-svelte/static/logos/svelte.svg
Due: typecheck-svelte

Add auto-scroll
  src-svelte/src/routes/credits/Credits.svelte
Due: typecheck-svelte

Add Tauri with logo to credits
  src-svelte/src/routes/credits/Creditor.stories.ts
  src-svelte/src/routes/credits/Creditor.svelte
  src-svelte/src/routes/credits/Creditor.test.ts
  src-svelte/src/routes/credits/Credits.svelte
  src-svelte/src/routes/credits/Grid.svelte
  src-svelte/src/routes/storybook.test.ts
  src-svelte/static/logos/tauri.png
Due: typecheck-svelte

Use new logo
  src-tauri/icons/128x128.png
  src-tauri/icons/128x128@2x.png
  src-tauri/icons/32x32.png
  src-tauri/icons/Square107x107Logo.png
  src-tauri/icons/Square142x142Logo.png
  src-tauri/icons/Square150x150Logo.png
  src-tauri/icons/Square284x284Logo.png
  src-tauri/icons/Square30x30Logo.png
  src-tauri/icons/Square310x310Logo.png
  src-tauri/icons/Square44x44Logo.png
  src-tauri/icons/Square71x71Logo.png
  src-tauri/icons/Square89x89Logo.png
  src-tauri/icons/StoreLogo.png
  src-tauri/icons/icon.icns
  src-tauri/icons/icon.ico
  src-tauri/icons/icon.png
Due: none

Add GitHub icon for GitHub contributors
  src-svelte/src/routes/credits/Creditor.svelte
  src-svelte/src/routes/credits/GitHubIcon.svelte
  src-svelte/src/routes/storybook.test.ts
Due: typecheck-svelte

Add initial contributor
  src-svelte/src/routes/credits/Creditor.stories.ts
  src-svelte/src/routes/credits/Creditor.svelte
  src-svelte/src/routes/credits/Credits.svelte
Due: typecheck-svelte

Add credits link to sidebar
  src-svelte/screenshots/baseline/layout/app/static.png
  src-svelte/screenshots/baseline/layout/sidebar/credits-selected.png
  src-svelte/screenshots/baseline/layout/sidebar/dashboard-selected.png
  src-svelte/screenshots/baseline/layout/sidebar/settings-selected.png
  src-svelte/src/routes/SidebarUI.stories.ts
  src-svelte/src/routes/SidebarUI.svelte
  src-svelte/src/routes/storybook.test.ts
Due: typecheck-svelte

Add dedication
  src-svelte/src/routes/credits/Credits.svelte
Due: typecheck-svelte

Do atomic reveal on Creditor div
  src-svelte/src/routes/credits/Creditor.svelte
Due: typecheck-svelte

Add more dependencies used, and revert back to column layout
  src-svelte/src/routes/credits/Creditor.svelte
  src-svelte/src/routes/credits/Creditor.test.ts
  src-svelte/src/routes/credits/Credits.svelte
  src-svelte/src/routes/credits/Grid.svelte
  src-svelte/static/logos/async-openai.png
  src-svelte/static/logos/diesel.png
  src-svelte/static/logos/docker.svg
  src-svelte/static/logos/jest-image-snapshot.png
  src-svelte/static/logos/neodrag.svg
  src-svelte/static/logos/playwright.svg
  src-svelte/static/logos/quicktype.png
  src-svelte/static/logos/specta.png
  src-svelte/static/logos/storybook.svg
  src-svelte/static/logos/vite.svg
  src-svelte/static/logos/vitest.svg
  src-svelte/static/logos/webdriverio.svg
Due: typecheck-svelte

Slow down scroll once more
  src-svelte/src/routes/credits/Credits.svelte
Due: typecheck-svelte

Scroll #main-container instead of window
  src-svelte/src/routes/AppLayout.svelte
  src-svelte/src/routes/credits/Credits.svelte
Due: typecheck-svelte

Successfully stop scroll on mouse events
  src-svelte/src/routes/credits/Credits.svelte
Due: typecheck-svelte
