Repository amosjyng/zamm-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: typecheck-svelte, cargo-fmt, cargo-clippy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-merge-conflict
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.1.2
    hooks:
      - id: ruff
        args:
          - --fix
          - --exit-non-zero-on-fix
          - --config
          - src-python/pyproject.toml
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 23.10.1
    hooks:
      - id: black
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.6.1
    hooks:
      - id: mypy
        args: [--disallow-untyped-defs, --ignore-missing-imports]
        additional_dependencies:
          - types-PyYAML
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.52.0
    hooks:
      - id: eslint
        types: [file]
        args: [--fix, --max-warnings=0]
        files: \.(js|ts|svelte)$
        exclude: src-svelte/src/lib/sample-call.ts
        additional_dependencies:
          - eslint
          - svelte
          - typescript
          - eslint-plugin-svelte
          - eslint-config-prettier
          - "@typescript-eslint/eslint-plugin"
          - "@typescript-eslint/parser"
          - svelte-eslint-parser
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier
        args: [--write, --plugin, prettier-plugin-svelte]
        files: \.(json|yaml|html|js|ts|svelte)$
        additional_dependencies:
          - prettier
          - prettier-plugin-svelte
          - svelte
  - repo: local
    hooks:
      - id: typecheck-svelte
        name: svelte-check
        entry: yarn workspace gui svelte-check --fail-on-warnings
        language: system
        types: [file]
        files: \.(ts|svelte)$
        exclude: ^webdriver/
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --manifest-path src-tauri/Cargo.toml --
        language: system
        types: [rust]
      - id: cargo-clippy
        name: cargo clippy
        entry: src-tauri/clippy.sh
        language: system
        types: [rust]
        pass_filenames: false

Add external link indicator
  src-svelte/screenshots/baseline/reusable/external-link/external-link.png
  src-svelte/src/lib/ExternalLink.stories.ts
  src-svelte/src/lib/ExternalLinkView.svelte
  src-svelte/src/routes/storybook.test.ts
  src-svelte/src/routes/styles.css
Due: typecheck-svelte

Display helpful tip link to OpenAI settings page
  src-svelte/Makefile
  src-svelte/screenshots/baseline/screens/dashboard/api-keys-display/editing-pre-filled.png
  src-svelte/screenshots/baseline/screens/dashboard/api-keys-display/editing.png
  src-svelte/src/routes/components/api-keys/Display.svelte
  src-svelte/src/routes/components/api-keys/Display.test.ts
  src-svelte/src/routes/components/api-keys/Form.svelte
  src-svelte/src/routes/components/api-keys/Service.svelte
Due: typecheck-svelte

Only use profile init files as fallback
  src-svelte/src/routes/components/Metadata.test.ts
  src-tauri/api/sample-calls/get_system_info-linux.yaml
  src-tauri/src/commands/system.rs
Due: typecheck-svelte, cargo-fmt, cargo-clippy

Allow for API key persistence in DB
  src-svelte/src/lib/bindings.ts
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/migrations/2023-08-17-054802_create_executions/down.sql
  src-tauri/migrations/2023-08-17-054802_create_executions/up.sql
  src-tauri/migrations/2024-01-07-035038_create_api_keys/down.sql
  src-tauri/migrations/2024-01-07-035038_create_api_keys/up.sql
  src-tauri/src/models.rs
  src-tauri/src/schema.rs
  src-tauri/src/setup/api_keys.rs
Due: typecheck-svelte, cargo-fmt, cargo-clippy

Retrieve API keys from database as fallback
  src-svelte/src/lib/bindings.ts
  src-tauri/src/main.rs
  src-tauri/src/setup/api_keys.rs
Due: typecheck-svelte, cargo-fmt, cargo-clippy

Write API key to DB upon save
  src-tauri/src/commands/errors.rs
  src-tauri/src/commands/keys/set.rs
Due: cargo-fmt, cargo-clippy

Remove API key from DB when unset
  src-tauri/src/commands/keys/mod.rs
  src-tauri/src/commands/keys/set.rs
Due: cargo-fmt, cargo-clippy

Add explanatory text to form field
  src-svelte/screenshots/baseline/screens/dashboard/api-keys-display/editing-pre-filled.png
  src-svelte/screenshots/baseline/screens/dashboard/api-keys-display/editing.png
  src-svelte/src/lib/Explanation.svelte
  src-svelte/src/routes/components/api-keys/Display.test.ts
  src-svelte/src/routes/components/api-keys/Form.svelte
  src-svelte/src/routes/styles.css
Due: typecheck-svelte

Fix newline display
  src-svelte/src/routes/components/api-keys/Form.svelte
Due: typecheck-svelte

Use fallback environment variables for determining the shell
  src-tauri/src/commands/system.rs
Due: cargo-fmt, cargo-clippy

Get initial API call to OpenAI working
  Makefile
  src-python/.gitignore
  src-python/Makefile
  src-python/api/sample-calls/chat.yaml
  src-python/api/schemas/chat_method.json
  src-python/poetry.lock
  src-python/pyproject.toml
  src-python/tests/api/test_chat.py
  src-python/tests/api/test_openai_chat.yaml
  src-python/zamm/api/__init__.py
  src-python/zamm/api/chat.py
  src-python/zamm/api/models.py
  src-python/zamm/execution.py
  src-tauri/src/python_api.rs
Due: cargo-fmt, cargo-clippy

Get to failing LLM output with langchain-openai
  src-python/api/sample-calls/chat.yaml
  src-python/api/sample-calls/chat_reply.yaml
  src-python/api/schemas/chat_method.json
  src-python/tests/api/test_chat.py
  src-python/tests/api/test_openai_chat_reply.yaml
  src-python/zamm/api/chat.py
  src-python/zamm/api/models.py
  src-tauri/src/python_api.rs
Due: cargo-fmt, cargo-clippy

Rip out Langchain OpenAI Python code
  src-python/api/sample-calls/chat.yaml
  src-python/api/sample-calls/chat_reply.yaml
  src-python/api/schemas/chat_method.json
  src-python/poetry.lock
  src-python/pyproject.toml
  src-python/tests/api/test_chat.py
  src-python/tests/api/test_openai_chat.yaml
  src-python/tests/api/test_openai_chat_reply.yaml
  src-python/zamm/api/__init__.py
  src-python/zamm/api/chat.py
  src-python/zamm/api/models.py
  src-python/zamm/execution.py
  src-tauri/src/python_api.rs
Due: cargo-fmt, cargo-clippy

Set up OpenAI with test infrastructure
  .gitmodules
  src-svelte/src/lib/bindings.ts
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/api/sample-call-requests/start-conversation.json
  src-tauri/clippy.sh
  src-tauri/src/commands/errors.rs
  src-tauri/src/commands/keys/get.rs
  src-tauri/src/commands/keys/mod.rs
  src-tauri/src/commands/keys/set.rs
  src-tauri/src/commands/llms/chat.rs
  src-tauri/src/commands/llms/mod.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/main.rs
Due: typecheck-svelte, cargo-fmt, cargo-clippy

Fix missing recording with rVCR
  .gitmodules
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/commands/llms/chat.rs
Due: cargo-fmt, cargo-clippy

Censor headers instead of leaving them out entirely
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/api/sample-call-requests/start-conversation.json
  src-tauri/src/commands/llms/chat.rs
Due: cargo-fmt, cargo-clippy

Avoid verbose pre-commit output
  src-tauri/clippy.sh
Due: none

Refactor ApiKeys into submodule
  src-tauri/src/models/api_keys.rs
  src-tauri/src/models/mod.rs
Due: cargo-fmt, cargo-clippy

Get database persistence working in tests
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/api/sample-call-requests/start-conversation.json
  src-tauri/migrations/2024-01-13-023144_create_llm_calls/down.sql
  src-tauri/migrations/2024-01-13-023144_create_llm_calls/up.sql
  src-tauri/src/commands/errors.rs
  src-tauri/src/commands/llms/chat.rs
  src-tauri/src/models/llm_calls.rs
  src-tauri/src/models/mod.rs
  src-tauri/src/schema.rs
Due: cargo-fmt, cargo-clippy

Implement and test actual API call
  src-tauri/api/sample-calls/chat-start-conversation.yaml
  src-tauri/src/commands/llms/chat.rs
  src-tauri/src/models/llm_calls.rs
Due: cargo-fmt, cargo-clippy

Simplify API boundary JSON request
  src-tauri/api/sample-calls/chat-start-conversation.yaml
  src-tauri/src/commands/llms/chat.rs
  src-tauri/src/models/llm_calls.rs
Due: cargo-fmt, cargo-clippy

Fix regular build
  src-tauri/Cargo.toml
Due: none

Customize app metadata
  LICENSE
  LICENSE.GPL-3.0
  src-tauri/Cargo.toml
Due: none

Update Specta bindings
  src-svelte/src/lib/bindings.ts
Due: typecheck-svelte

Add basic chat API invocation from frontend
  src-svelte/src/lib/sample-call-testing.ts
  src-svelte/src/routes/chat/+page.svelte
  src-svelte/src/routes/chat/Chat.stories.ts
  src-svelte/src/routes/chat/Chat.svelte
  src-svelte/src/routes/chat/Chat.test.ts
Due: typecheck-svelte

Test for successful API calls from frontend
  src-svelte/src/lib/Switch.test.ts
  src-svelte/src/routes/AppLayout.test.ts
  src-svelte/src/routes/SidebarUI.test.ts
  src-svelte/src/routes/components/Metadata.test.ts
  src-svelte/src/routes/components/api-keys/Display.test.ts
  src-svelte/src/routes/settings/Settings.test.ts
Due: typecheck-svelte

Test the continuation of the chat conversation
  src-svelte/src/routes/chat/Chat.test.ts
  src-tauri/api/sample-call-requests/continue-conversation.json
  src-tauri/api/sample-calls/chat-continue-conversation.yaml
  src-tauri/src/commands/llms/chat.rs
Due: typecheck-svelte, cargo-fmt, cargo-clippy

Actually render chat interface in UI
  src-svelte/src/routes/chat/Chat.stories.ts
  src-svelte/src/routes/chat/Chat.svelte
  src-svelte/src/routes/chat/Chat.test.ts
Due: typecheck-svelte

Refactor out round svg definition
  src-svelte/src/lib/InfoBox.svelte
  src-svelte/src/lib/RoundDef.svelte
Due: typecheck-svelte

Fix active indicator not appearing in time on dashboard API keys display
  src-svelte/src/routes/components/api-keys/Service.svelte
Due: typecheck-svelte

Add mesage for empty chats
  src-svelte/src/routes/chat/Chat.svelte
Due: typecheck-svelte

Refactor out message component
  src-svelte/screenshots/baseline/screens/chat/message/ai-multiline.png
  src-svelte/screenshots/baseline/screens/chat/message/ai.png
  src-svelte/screenshots/baseline/screens/chat/message/human.png
  src-svelte/src/routes/chat/Chat.svelte
  src-svelte/src/routes/chat/Message.stories.ts
  src-svelte/src/routes/chat/Message.svelte
  src-svelte/src/routes/storybook.test.ts
Due: typecheck-svelte

Get chat conversation div to always be same expanded size
  src-svelte/.storybook/preview.ts
  src-svelte/src/lib/InfoBox.svelte
  src-svelte/src/lib/__mocks__/MockAppLayout.svelte
  src-svelte/src/routes/AnimationControl.svelte
  src-svelte/src/routes/AppLayout.svelte
  src-svelte/src/routes/PageTransition.svelte
  src-svelte/src/routes/chat/Chat.stories.ts
  src-svelte/src/routes/chat/Chat.svelte
  src-svelte/src/routes/chat/Message.svelte
Due: typecheck-svelte

Always scroll to the bottom after each chat message
  src-svelte/src/routes/chat/Chat.svelte
Due: typecheck-svelte

Add initial mostly-acceptable conversation screenshot to Storybook
  src-svelte/.storybook/preview.ts
  src-svelte/screenshots/baseline/screens/chat/conversation/empty.png
  src-svelte/screenshots/baseline/screens/chat/conversation/not-empty.png
  src-svelte/screenshots/baseline/screens/chat/message/ai-multiline.png
  src-svelte/screenshots/baseline/screens/chat/message/ai.png
  src-svelte/screenshots/baseline/screens/chat/message/human.png
  src-svelte/src/lib/__mocks__/MockFullPageLayout.svelte
  src-svelte/src/routes/chat/Chat.stories.ts
  src-svelte/src/routes/chat/Chat.svelte
  src-svelte/src/routes/storybook.test.ts
Due: typecheck-svelte

Merge separate h2 style blocks
  src-svelte/src/lib/InfoBox.svelte
  src-svelte/src/routes/styles.css
Due: typecheck-svelte

Make maxHeight larger so as to actually be readable
  src-svelte/src/routes/chat/Chat.svelte
Due: typecheck-svelte

Implement resizeConversationView with less flashing
  src-svelte/src/routes/chat/Chat.svelte
Due: typecheck-svelte

Fix InfoBox bleed effect
  src-svelte/screenshots/baseline/screens/chat/conversation/not-empty.png
  src-svelte/src/lib/InfoBox.svelte
Due: typecheck-svelte

Disable autocomplete for chat
  src-svelte/src/routes/chat/Chat.svelte
Due: typecheck-svelte
