Repository amosjyng/zamm-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: typecheck-svelte, cargo-fmt, cargo-clippy

typecheck-svelte:
  name: svelte-check
  entry: yarn workspace gui svelte-check --fail-on-warnings
  language: system

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --manifest-path src-tauri/Cargo.toml --
  language: system

cargo-clippy:
  name: cargo clippy
  entry: src-tauri/clippy.sh
  language: system
  pass_filenames: false

Refactor out control corner cut
  src-svelte/src/lib/controls/Button.svelte
  src-svelte/src/routes/styles.css
Due: typecheck-svelte

Style chat field differently
  src-svelte/package.json
  src-svelte/screenshots/baseline/screens/chat/conversation/empty.png
  src-svelte/screenshots/baseline/screens/chat/conversation/not-empty.png
  src-svelte/src/lib/controls/Button.svelte
  src-svelte/src/lib/controls/TextInput.svelte
  src-svelte/src/routes/chat/Chat.svelte
  src-svelte/src/routes/chat/Form.svelte
  src-svelte/src/routes/styles.css
  yarn.lock
Due: typecheck-svelte

Screenshot test multiline chat input
  src-svelte/screenshots/baseline/screens/chat/conversation/multiline-chat.png
  src-svelte/src/routes/chat/Chat.stories.ts
  src-svelte/src/routes/chat/Chat.svelte
  src-svelte/src/routes/chat/Form.svelte
  src-svelte/src/routes/storybook.test.ts
Due: typecheck-svelte

Have text area grow upwards and reset conversation view on text area resize
  src-svelte/src/routes/chat/Chat.svelte
  src-svelte/src/routes/chat/Form.svelte
Due: typecheck-svelte

Add scroll indicators
  src-svelte/screenshots/baseline/screens/chat/conversation/multiline-chat.png
  src-svelte/screenshots/baseline/screens/chat/conversation/not-empty.png
  src-svelte/src/routes/chat/Chat.svelte
  src-svelte/src/routes/chat/Chat.test.ts
Due: typecheck-svelte

Screenshot test bottom scroll indicator
  src-svelte/screenshots/baseline/screens/chat/conversation/bottom-scroll-indicator.png
  src-svelte/src/routes/chat/Chat.stories.ts
  src-svelte/src/routes/chat/Chat.svelte
  src-svelte/src/routes/storybook.test.ts
Due: typecheck-svelte

Add chat waiting indicator
  src-svelte/screenshots/baseline/screens/chat/conversation/typing-indicator-static.png
  src-svelte/src/routes/chat/Chat.stories.ts
  src-svelte/src/routes/chat/Chat.svelte
  src-svelte/src/routes/chat/Message.svelte
  src-svelte/src/routes/chat/MessageUI.svelte
  src-svelte/src/routes/chat/TypingIndicator.svelte
  src-svelte/src/routes/storybook.test.ts
Due: typecheck-svelte

Always put snackbar on top
  src-svelte/src/lib/snackbar/Snackbar.svelte
  src-svelte/src/routes/AnimationControl.svelte
  src-svelte/src/routes/AppLayout.svelte
Due: typecheck-svelte

Update Webdriver to not require standalone service
  webdriver/package.json
  webdriver/wdio.conf.ts
  yarn.lock
Due: none

Undo main content casting shadow on sidebar
  src-svelte/src/routes/AppLayout.svelte
Due: typecheck-svelte

Add e2e chat screenshot
  webdriver/screenshots/baseline/desktop_wry/chat-screen-800x600.png
  webdriver/test/specs/e2e.test.js
Due: none

Set conversation scroll to auto
  src-svelte/src/routes/chat/Chat.svelte
Due: typecheck-svelte

Add full page stories for Chat and Settings pages
  src-svelte/src/lib/__mocks__/MockFullPageLayout.svelte
  src-svelte/src/lib/__mocks__/MockPageTransitions.svelte
  src-svelte/src/routes/chat/Chat.stories.ts
  src-svelte/src/routes/settings/Settings.stories.ts
Due: typecheck-svelte

Fix slider opacity reveal animation on settings page
  src-svelte/src/lib/InfoBox.svelte
  src-svelte/src/lib/Slider.svelte
Due: typecheck-svelte

Explicitly check for null unmounted slider elements
  src-svelte/src/lib/Slider.svelte
Due: typecheck-svelte

Set info box element reveal opacity without overwriting other styles
  src-svelte/src/lib/InfoBox.svelte
Due: typecheck-svelte

Fix slider test description
  src-svelte/src/lib/Slider.playwright.test.ts
Due: typecheck-svelte

Use autosize instead of svelte-autosize
  src-svelte/package.json
  yarn.lock
Due: none

Manually recreate Uint8Array as workaround for surprising new test regression
  src-svelte/src/routes/storybook.test.ts
Due: typecheck-svelte

Make chat temporarily persistent for the duration of a session
  src-svelte/src/routes/chat/+page.svelte
  src-svelte/src/routes/chat/PersistentChat.svelte
  src-svelte/src/routes/chat/PersistentChat.test.ts
  src-svelte/src/routes/chat/PersistentChatView.svelte
Due: typecheck-svelte

Fix failing webdriver build
  webdriver/package.json
Due: none

Try using frozen lockfiles for build
  .github/workflows/tests.yaml
  src-svelte/Makefile
Due: none

Add total tokens to chat message row and API response
  src-svelte/src/lib/bindings.ts
  src-tauri/api/sample-calls/chat-continue-conversation.yaml
  src-tauri/api/sample-calls/chat-start-conversation.yaml
  src-tauri/migrations/2024-01-13-023144_create_llm_calls/up.sql
  src-tauri/src/commands/llms/chat.rs
  src-tauri/src/models/llm_calls.rs
  src-tauri/src/schema.rs
Due: typecheck-svelte, cargo-fmt, cargo-clippy

Pin vite to v4.5.2
  package.json
  yarn.lock
Due: none

Update docker image with new dependencies, and fix Docker dependency copy
  Dockerfile
  Makefile
Due: none

Remove Pydantic warning filter
  src-python/pyproject.toml
Due: none

Try to update pre-commit
  .github/workflows/tests.yaml
  .pre-commit-config.yaml
Due: none

Update conversation gold screenshots with latest from CI
  src-svelte/screenshots/baseline/screens/chat/conversation/bottom-scroll-indicator.png
  src-svelte/screenshots/baseline/screens/chat/conversation/empty.png
  src-svelte/screenshots/baseline/screens/chat/conversation/multiline-chat.png
  src-svelte/screenshots/baseline/screens/chat/conversation/not-empty.png
  src-svelte/screenshots/baseline/screens/chat/conversation/typing-indicator-static.png
Due: none

Fix app layout Storybook story
  src-svelte/src/routes/Sidebar.svelte
Due: typecheck-svelte

Update e2e screenshot and try to make e2e more robust
  webdriver/screenshots/baseline/desktop_wry/chat-screen-800x600.png
  webdriver/test/specs/e2e.test.js
Due: none

Reproduce and fix pre-commit error
  src-svelte/tsconfig.json
Due: none

Increase maxMismatch due to inability to reduce flakiness on CI settings page
  webdriver/test/specs/e2e.test.js
Due: none

Remove unused Python sidecar in preparation for Mac OS build
  .github/workflows/tests.yaml
  .pre-commit-config.yaml
  .vscode/extensions.json
  Dockerfile
  Makefile
  src-python/.gitignore
  src-python/Makefile
  src-python/README.md
  src-python/api/sample-calls/greet.yaml
  src-python/api/sample-calls/greet_empty.yaml
  src-python/api/schemas/greet_args.json
  src-python/api/schemas/greet_response.json
  src-python/poetry.lock
  src-python/pyproject.toml
  src-python/tests/__init__.py
  src-python/tests/api/__init__.py
  src-python/tests/api/sample_call.py
  src-python/tests/api/test_greet.py
  src-python/tests/api/test_helpers.py
  src-python/zamm/__init__.py
  src-python/zamm/api/__init__.py
  src-python/zamm/api/greet.py
  src-python/zamm/api/methods.py
  src-python/zamm/api/models.py
  src-python/zamm/execution.py
  src-python/zamm/main.py
  src-svelte/src/lib/bindings.ts
  src-svelte/src/lib/sample-call.ts
  src-tauri/Cargo.toml
  src-tauri/api/sample-call-schema.json
  src-tauri/src/commands/api.rs
  src-tauri/src/commands/greet.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/main.rs
  src-tauri/tauri.conf.json
Due: typecheck-svelte, cargo-fmt, cargo-clippy

Try reducing test flakiness by navigating between pages a few times
  src-svelte/src/routes/SidebarUI.svelte
  webdriver/test/specs/e2e.test.js
Due: typecheck-svelte

Fix SidebarUI Svelte test after homepage link title rename
  src-svelte/src/routes/SidebarUI.test.ts
Due: typecheck-svelte

Remove custom mismatch after it appears flakiness is solved
  webdriver/test/specs/e2e.test.js
Due: none

Remove Python step from CI step
  .github/workflows/tests.yaml
Due: none

Add Docker VS Code extension
  .vscode/extensions.json
Due: none

Add a universal mac binary target
  Makefile
Due: none

Path conditions:
  typecheck-svelte: any of: \.(ts|svelte)$, but not: ^webdriver/
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
