Repository amosjyng/zamm-ui: changes, and which pre-commit hooks are due for each by the changed paths.
All: typecheck-svelte, cargo-fmt, cargo-clippy

typecheck-svelte:
  name: svelte-check
  entry: yarn workspace gui svelte-check --fail-on-warnings
  language: system

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --manifest-path src-tauri/Cargo.toml --
  language: system

cargo-clippy:
  name: cargo clippy
  entry: src-tauri/clippy.sh
  language: system
  pass_filenames: false

Test snackbar functionality
  src-svelte/src/lib/snackbar/Message.svelte
  src-svelte/src/lib/snackbar/Snackbar.svelte
  src-svelte/src/lib/snackbar/Snackbar.test.ts
Due: typecheck-svelte

Refactor out accessibility-only class
  src-svelte/src/routes/components/api-keys/Form.svelte
  src-svelte/src/routes/styles.css
Due: typecheck-svelte

Get snackbar errors working in Storybook
  src-svelte/src/lib/__mocks__/MockAppLayout.svelte
  src-svelte/src/lib/snackbar/Snackbar.svelte
  src-svelte/src/routes/AppLayout.svelte
  src-svelte/src/routes/components/api-keys/Display.stories.ts
  src-svelte/src/routes/components/api-keys/Form.svelte
Due: typecheck-svelte

Persist form data through open and close
  src-svelte/src/routes/components/api-keys/Display.test.ts
  src-svelte/src/routes/components/api-keys/Form.svelte
  src-svelte/src/routes/components/api-keys/Service.svelte
Due: typecheck-svelte

Add integration test for getting API keys right after setting them
  src-tauri/src/commands/keys/get.rs
  src-tauri/src/commands/keys/mod.rs
  src-tauri/src/commands/keys/set.rs
  src-tauri/src/test_helpers.rs
Due: cargo-fmt, cargo-clippy

Update active API keys on frontend after form submission
  src-svelte/src/lib/system-info.ts
  src-svelte/src/routes/components/api-keys/Display.stories.ts
  src-svelte/src/routes/components/api-keys/Display.svelte
  src-svelte/src/routes/components/api-keys/Display.test.ts
  src-svelte/src/routes/components/api-keys/Form.svelte
Due: typecheck-svelte

Add glow effect and transition to active service status
  src-svelte/src/routes/components/api-keys/Display.stories.ts
  src-svelte/src/routes/components/api-keys/Service.svelte
Due: typecheck-svelte

Fix transition specificity for page load
  src-svelte/src/routes/components/api-keys/Service.svelte
Due: typecheck-svelte

Ensure form field non-empty for Storybook
  src-svelte/src/routes/components/api-keys/Service.svelte
Due: typecheck-svelte

Run service activation CSS transition on initial page load
  src-svelte/src/lib/InfoBox.svelte
  src-svelte/src/routes/Dashboard.stories.ts
  src-svelte/src/routes/components/api-keys/Service.svelte
Due: typecheck-svelte

Make API call to set keys more robust to weird filenames
  src-tauri/api/sample-calls/set_api_key-empty-filename.yaml
  src-tauri/api/sample-calls/set_api_key-invalid-filename.yaml
  src-tauri/src/commands/keys/mod.rs
  src-tauri/src/commands/keys/set.rs
Due: cargo-fmt, cargo-clippy

Add placeholder text in the filename text field
  src-svelte/src/lib/controls/TextInput.svelte
  src-svelte/src/routes/components/api-keys/Form.svelte
Due: typecheck-svelte

Allow for unsetting previously set API keys
  src-svelte/src/routes/components/api-keys/Display.stories.ts
  src-tauri/api/sample-calls/set_api_key-unset.yaml
  src-tauri/api/sample-init-files/unset/.bashrc
  src-tauri/api/sample-init-files/unset/expected.bashrc
  src-tauri/src/commands/keys/set.rs
  src-tauri/src/setup/api_keys.rs
Due: typecheck-svelte, cargo-fmt, cargo-clippy

Add Infobox wait class slightly less frequently
  src-svelte/src/lib/InfoBox.svelte
Due: typecheck-svelte

Delay API key update after form submission
  src-svelte/src/lib/preferences.ts
  src-svelte/src/routes/components/api-keys/Display.test.ts
  src-svelte/src/routes/components/api-keys/Form.svelte
Due: typecheck-svelte

Update and fix screenshot tests
  src-svelte/screenshots/baseline/layout/snackbar/message.png
  src-svelte/screenshots/baseline/reusable/button/regular.png
  src-svelte/screenshots/baseline/screens/dashboard/api-keys-display/editing.png
  src-svelte/screenshots/baseline/screens/dashboard/api-keys-display/known.png
  src-svelte/screenshots/baseline/screens/dashboard/api-keys-display/loading.png
  src-svelte/screenshots/baseline/screens/dashboard/api-keys-display/unknown.png
  src-svelte/screenshots/baseline/screens/dashboard/metadata/loaded.png
  src-svelte/screenshots/baseline/screens/dashboard/metadata/loading.png
  src-svelte/src/lib/__mocks__/MockAppLayout.svelte
  src-svelte/src/routes/storybook.test.ts
Due: typecheck-svelte

Get end-to-end tests to pass
  webdriver/screenshots/baseline/desktop_wry/welcome-screen-800x600.png
  webdriver/test/specs/e2e.test.js
Due: none

Update to latest version of pre-commit hooks
  .pre-commit-config.yaml
  src-svelte/src/lib/sample-call.ts
Due: typecheck-svelte

Various fixes for CI tests
  .github/workflows/tests.yaml
  src-svelte/src/routes/components/Metadata.svelte
Due: typecheck-svelte

Return login shell init file instead of regular shell init file
  src-svelte/screenshots/baseline/screens/dashboard/api-keys-display/editing-pre-filled.png
  src-svelte/screenshots/baseline/screens/dashboard/api-keys-display/editing.png
  src-svelte/src/lib/__mocks__/stores.ts
  src-svelte/src/routes/components/Metadata.test.ts
  src-svelte/src/routes/components/api-keys/Display.stories.ts
  src-svelte/src/routes/storybook.test.ts
  src-tauri/api/sample-calls/get_system_info-linux.yaml
  src-tauri/src/commands/system.rs
Due: typecheck-svelte, cargo-fmt, cargo-clippy

Ignore shell test on CI
  src-tauri/Makefile
  src-tauri/src/commands/system.rs
Due: cargo-fmt, cargo-clippy

Update with unknown shell screenshot on CI
  webdriver/screenshots/baseline/desktop_wry/welcome-screen-800x600.png
Due: none

Try fixing Storybook tests on CI by increasing timeout
  src-svelte/src/routes/storybook.test.ts
Due: typecheck-svelte

Update editing-pre-filled screenshot with alternative again
  src-svelte/screenshots/baseline/screens/dashboard/api-keys-display/editing-pre-filled.png
Due: none

Retrieve OS as actual instead of mocked value
  src-svelte/src/lib/bindings.ts
  src-svelte/src/routes/components/Metadata.svelte
  src-svelte/src/routes/components/Metadata.test.ts
  src-svelte/src/routes/components/api-keys/Display.test.ts
  src-tauri/api/sample-calls/get_system_info-linux.yaml
  src-tauri/src/commands/system.rs
Due: typecheck-svelte, cargo-fmt, cargo-clippy

Provide version info in metadata display as well
  src-svelte/src/lib/bindings.ts
  src-svelte/src/lib/system-info.ts
  src-svelte/src/routes/components/Metadata.svelte
  src-svelte/src/routes/components/Metadata.test.ts
  src-svelte/src/routes/components/api-keys/Display.test.ts
  src-tauri/api/sample-calls/get_system_info-linux.yaml
  src-tauri/src/commands/system.rs
Due: typecheck-svelte, cargo-fmt, cargo-clippy

Make Storybook tests deterministic
  .github/workflows/tests.yaml
  src-svelte/screenshots/baseline/layout/app/static.png
  src-svelte/screenshots/baseline/layout/background/static.png
  src-svelte/screenshots/baseline/layout/sidebar/dashboard-selected.png
  src-svelte/screenshots/baseline/layout/sidebar/settings-selected.png
  src-svelte/screenshots/baseline/layout/snackbar/message.png
  src-svelte/screenshots/baseline/reusable/button/regular.png
  src-svelte/screenshots/baseline/reusable/infobox/regular.png
  src-svelte/screenshots/baseline/reusable/slider/tablet.png
  src-svelte/screenshots/baseline/reusable/slider/tiny-phone-screen-with-long-label.png
  src-svelte/screenshots/baseline/reusable/slider/tiny-phone-screen.png
  src-svelte/screenshots/baseline/reusable/switch/off.png
  src-svelte/screenshots/baseline/reusable/switch/on.png
  src-svelte/screenshots/baseline/screens/dashboard/api-keys-display/editing-pre-filled.png
  src-svelte/screenshots/baseline/screens/dashboard/api-keys-display/editing.png
  src-svelte/screenshots/baseline/screens/dashboard/api-keys-display/known.png
  src-svelte/screenshots/baseline/screens/dashboard/api-keys-display/loading.png
  src-svelte/screenshots/baseline/screens/dashboard/api-keys-display/unknown.png
  src-svelte/screenshots/baseline/screens/dashboard/metadata/loaded.png
  src-svelte/screenshots/baseline/screens/dashboard/metadata/loading.png
  src-svelte/screenshots/baseline/screens/settings/large-phone-screen.png
  src-svelte/screenshots/baseline/screens/settings/tablet.png
  src-svelte/screenshots/baseline/screens/settings/tiny-phone-screen.png
  src-svelte/src/routes/storybook.test.ts
Due: typecheck-svelte

Remove console logging that clogs up test logs
  src-svelte/src/lib/snackbar/Snackbar.svelte
Due: typecheck-svelte

Run Storybook tests on Playwright container
  .github/workflows/tests.yaml
  src-svelte/src/routes/storybook.test.ts
Due: typecheck-svelte

Use Firefox instead
  src-svelte/screenshots/baseline/layout/app/static.png
  src-svelte/screenshots/baseline/layout/background/static.png
  src-svelte/screenshots/baseline/layout/sidebar/dashboard-selected.png
  src-svelte/screenshots/baseline/layout/sidebar/settings-selected.png
  src-svelte/screenshots/baseline/layout/snackbar/message.png
  src-svelte/screenshots/baseline/reusable/button/regular.png
  src-svelte/screenshots/baseline/reusable/infobox/regular.png
  src-svelte/screenshots/baseline/reusable/slider/tablet.png
  src-svelte/screenshots/baseline/reusable/slider/tiny-phone-screen-with-long-label.png
  src-svelte/screenshots/baseline/reusable/slider/tiny-phone-screen.png
  src-svelte/screenshots/baseline/reusable/switch/off.png
  src-svelte/screenshots/baseline/reusable/switch/on.png
  src-svelte/screenshots/baseline/screens/dashboard/api-keys-display/editing-pre-filled.png
  src-svelte/screenshots/baseline/screens/dashboard/api-keys-display/editing.png
  src-svelte/screenshots/baseline/screens/dashboard/api-keys-display/known.png
  src-svelte/screenshots/baseline/screens/dashboard/api-keys-display/loading.png
  src-svelte/screenshots/baseline/screens/dashboard/api-keys-display/unknown.png
  src-svelte/screenshots/baseline/screens/dashboard/metadata/loaded.png
  src-svelte/screenshots/baseline/screens/dashboard/metadata/loading.png
  src-svelte/screenshots/baseline/screens/settings/large-phone-screen.png
  src-svelte/screenshots/baseline/screens/settings/tablet.png
  src-svelte/screenshots/baseline/screens/settings/tiny-phone-screen.png
  src-svelte/src/routes/storybook.test.ts
Due: typecheck-svelte

Fix recursive rmdir warning
  src-svelte/src/routes/storybook.test.ts
Due: typecheck-svelte

Fix Metadata component screenshot
  src-svelte/src/routes/Dashboard.svelte
  src-svelte/src/routes/components/Metadata.svelte
Due: typecheck-svelte

Revert "Use Firefox instead"
  src-svelte/screenshots/baseline/layout/app/static.png
  src-svelte/screenshots/baseline/layout/background/static.png
  src-svelte/screenshots/baseline/layout/sidebar/dashboard-selected.png
  src-svelte/screenshots/baseline/layout/sidebar/settings-selected.png
  src-svelte/screenshots/baseline/layout/snackbar/message.png
  src-svelte/screenshots/baseline/reusable/button/regular.png
  src-svelte/screenshots/baseline/reusable/infobox/regular.png
  src-svelte/screenshots/baseline/reusable/slider/tablet.png
  src-svelte/screenshots/baseline/reusable/slider/tiny-phone-screen-with-long-label.png
  src-svelte/screenshots/baseline/reusable/slider/tiny-phone-screen.png
  src-svelte/screenshots/baseline/reusable/switch/off.png
  src-svelte/screenshots/baseline/reusable/switch/on.png
  src-svelte/screenshots/baseline/screens/dashboard/api-keys-display/editing-pre-filled.png
  src-svelte/screenshots/baseline/screens/dashboard/api-keys-display/editing.png
  src-svelte/screenshots/baseline/screens/dashboard/api-keys-display/known.png
  src-svelte/screenshots/baseline/screens/dashboard/api-keys-display/loading.png
  src-svelte/screenshots/baseline/screens/dashboard/api-keys-display/unknown.png
  src-svelte/screenshots/baseline/screens/dashboard/metadata/loaded.png
  src-svelte/screenshots/baseline/screens/dashboard/metadata/loading.png
  src-svelte/screenshots/baseline/screens/settings/large-phone-screen.png
  src-svelte/screenshots/baseline/screens/settings/tablet.png
  src-svelte/screenshots/baseline/screens/settings/tiny-phone-screen.png
  src-svelte/src/routes/storybook.test.ts
Due: typecheck-svelte

Align playwright Docker image with package.json version
  .github/workflows/tests.yaml
Due: none

Debug browser version used
  src-svelte/src/routes/storybook.test.ts
Due: typecheck-svelte

Add alternative directory of tests
  src-svelte/Makefile
  src-svelte/screenshots/.gitignore
  src-svelte/src/routes/storybook.test.ts
Due: typecheck-svelte

Update baseline Webkit screenshots
  src-svelte/screenshots/baseline/layout/snackbar/message.png
  src-svelte/screenshots/baseline/reusable/infobox/regular.png
  src-svelte/screenshots/baseline/screens/dashboard/api-keys-display/editing-pre-filled.png
  src-svelte/screenshots/baseline/screens/dashboard/api-keys-display/editing.png
  src-svelte/screenshots/baseline/screens/dashboard/api-keys-display/known.png
  src-svelte/screenshots/baseline/screens/dashboard/api-keys-display/loading.png
  src-svelte/screenshots/baseline/screens/dashboard/api-keys-display/unknown.png
  src-svelte/screenshots/baseline/screens/dashboard/metadata/loaded.png
  src-svelte/screenshots/baseline/screens/dashboard/metadata/loading.png
  src-svelte/screenshots/baseline/screens/settings/large-phone-screen.png
  src-svelte/screenshots/baseline/screens/settings/tablet.png
  src-svelte/screenshots/baseline/screens/settings/tiny-phone-screen.png
Due: none

Allow sample calls to represent API call failures as well
  src-python/api/sample-calls/greet.yaml
  src-python/api/sample-calls/greet_empty.yaml
  src-python/api/sample-calls/schema.json
  src-python/tests/api/sample_call.py
  src-python/tests/api/test_helpers.py
  src-svelte/src/lib/Switch.test.ts
  src-svelte/src/lib/sample-call-testing.ts
  src-svelte/src/lib/sample-call.ts
  src-svelte/src/routes/SidebarUI.test.ts
  src-tauri/api/sample-calls/get_api_keys-empty.yaml
  src-tauri/api/sample-calls/get_api_keys-openai.yaml
  src-tauri/api/sample-calls/get_preferences-animation-speed-override.yaml
  src-tauri/api/sample-calls/get_preferences-animations-override.yaml
  src-tauri/api/sample-calls/get_preferences-extra-settings.yaml
  src-tauri/api/sample-calls/get_preferences-no-file.yaml
  src-tauri/api/sample-calls/get_preferences-sound-override.yaml
  src-tauri/api/sample-calls/get_preferences-volume-override.yaml
  src-tauri/api/sample-calls/get_system_info-linux.yaml
  src-tauri/api/sample-calls/play_sound-switch.yaml
  src-tauri/api/sample-calls/play_sound-whoosh.yaml
  src-tauri/api/sample-calls/set_api_key-empty-filename.yaml
  src-tauri/api/sample-calls/set_api_key-existing-no-newline.yaml
  src-tauri/api/sample-calls/set_api_key-existing-with-newline.yaml
  src-tauri/api/sample-calls/set_api_key-invalid-filename.yaml
  src-tauri/api/sample-calls/set_api_key-no-disk-write.yaml
  src-tauri/api/sample-calls/set_api_key-no-file.yaml
  src-tauri/api/sample-calls/set_api_key-unset.yaml
  src-tauri/api/sample-calls/set_preferences-sound-off.yaml
  src-tauri/api/sample-calls/set_preferences-sound-on.yaml
  src-tauri/api/sample-calls/set_preferences-volume-partial.yaml
  src-tauri/src/commands/greet.rs
  src-tauri/src/commands/keys/get.rs
  src-tauri/src/commands/keys/mod.rs
  src-tauri/src/commands/keys/set.rs
  src-tauri/src/commands/preferences/read.rs
  src-tauri/src/commands/preferences/write.rs
  src-tauri/src/commands/sounds.rs
  src-tauri/src/commands/system.rs
  src-tauri/src/sample_call.rs
Due: typecheck-svelte, cargo-fmt, cargo-clippy

Add weird variant of infobox to Svelte screenshots
  src-svelte/screenshots/baseline/reusable/infobox/regular-variant-1.png
Due: none

Refactor animation settings to use standardDuration
  src-svelte/screenshots/baseline/layout/sidebar/dashboard-selected.png
  src-svelte/screenshots/baseline/layout/sidebar/settings-selected.png
  src-svelte/src/lib/Slider.svelte
  src-svelte/src/lib/Switch.svelte
  src-svelte/src/lib/__mocks__/MockAppLayout.svelte
  src-svelte/src/lib/__mocks__/MockPageTransitions.svelte
  src-svelte/src/lib/__mocks__/MockTransitions.svelte
  src-svelte/src/lib/controls/Button.svelte
  src-svelte/src/lib/controls/TextInput.svelte
  src-svelte/src/lib/snackbar/Snackbar.svelte
  src-svelte/src/routes/AnimationControl.svelte
  src-svelte/src/routes/AnimationControl.test.ts
  src-svelte/src/routes/AppLayout.svelte
  src-svelte/src/routes/AppLayout.test.ts
  src-svelte/src/routes/BackgroundUI.stories.ts
  src-svelte/src/routes/BackgroundUI.svelte
  src-svelte/src/routes/BackgroundUIView.svelte
  src-svelte/src/routes/PageTransition.svelte
  src-svelte/src/routes/PageTransitionView.svelte
  src-svelte/src/routes/SidebarUI.svelte
  src-svelte/src/routes/components/api-keys/Service.svelte
  src-svelte/src/routes/storybook.test.ts
  src-svelte/src/routes/styles.css
Due: typecheck-svelte

Path conditions:
  typecheck-svelte: any of: \.(ts|svelte)$, but not: ^webdriver/
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
